/*Estilo por: Aheal*/ 
html, body {height: 100%;}
/*
    HOME
*/
.home-container{ 
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../IMG/celebration-crowd-daylight-1157557.jpg);
    background-size: cover;
}
.home-row{ height: 100vh; text-align: center;} 
.home-row h3 {color:white; margin-left: 15px;} 
.angle-container{position: absolute !important; bottom: 25px; color:white; font-size: 3em;}

/*info*/
.info-container{
    margin-top: 35px;
    margin-bottom: 25px;
}
.info-card{
    height: 450px; 
    background: maroon; 
    margin-left: 25px;
    margin-right: 25px; 
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);    
}
.info-container h2{
    margin-bottom: 25px;
}

/*
    PERFIL
*/ 
.perfil-container , .editPerfil-container{
    padding: 8% 5% 9% 5%; 
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../IMG/3.jpg);
    background-size: cover;
} 
.cardto{
   height: 500px;
   margin-bottom: 5%; 
   padding-left: 2%;
   padding-right: 2%; 
} 
.cardto-2{
    height: 100px;
    padding-left: 2%;
    padding-right: 2%;
 } 
.cont{
    height: auto !important;
}
.a{
    height: 500px;
    text-align: center;
}
.b{
    height: 500px;
}
.c{ 
    height: 30%;
    margin-bottom: 5%
}
.d{ 
    height: 65%;
}
.team-wrap{
    border-radius: 100%;
    background: rgba(0,0,0,0.5);
    width: 100px;
    position: absolute;
    left: 320px;
    top: 12px;
}

.team-img{
    height: 100px;
    width: 100px;
}
.img-aux{
    margin: 10%; 
}

.perfil-img {
    height: 350px;
    width: 350px;
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
} 
.info-card-aux{
    background: rgba(0, 0, 0, 0.5); 
    height: 100%;
}
.info-card-container{
    padding: 5%; 
    color: white;
} 

.usr{
    width: 210px;
    display: inline-block;
    background:rgba(255, 80, 0 ,0.3);
} 

/* 
    Edicion Perfil     
*/ 

input {
    width: 100%;
    height: 50px;
    color: white;
    background: rgba(193,194,193,.5);
    border: none;
    padding: 15px;
} 

.switch{
    display: none;
} 

select.i-change{
    background: gray;
    color: white;
    border-style: none;
    width: auto;
    min-width: 150px;
}

textarea {
    width: 100%;
    color: white;
    background: rgba(193,194,193,.5);
    border: none;
    padding: 15px;  
} 

/* 
    Email Confirmation
*/ 
#emailConfirmation{
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../IMG/3.jpg);
    height: 100vh;
    text-align: center; 
    padding-top: 25%;
} 
.aux{
    width: 25em; 
    height: 22em; 
    margin-left: 31%;
    background: #D59E30;
    text-align: center;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
} 
.aux h3{
    padding-top: 35%;
} 

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
    border-radius:50px;
    border-style: none;
	text-align:center;
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
} 

.float:active{
    background-color:rgb(5, 116, 88);
}

.my-float{
	margin-top:12px;
}