<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Perfil LIT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS/reset.css" /> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS/stick.css" /> 
</head>
<body>
    <div class="container-fluid editPerfil-container">
        <div class="row">
            <div class="col-lg-4 cardto a">
                <div class="img-aux">
                    <img class="perfil-img"src="../IMG/idkmen.jpg" alt=""> 
                    <div class="team-wrap">
                        <img src="../IMG/kisspng-league-of-legends-team-we-electronic-sports-logo-v-5b66ae16d3ab93.034768711533455894867.png" alt="" class="team-img">
                    </div>
                    <div class="info-card-aux usr">
                        <div class="info-card-container">
                            <h3 class="p-change switch">Rogelio Amaro </h3>
                            <input class="i-change" name="name" type="text" id="name" value="Rogelio Amaro">
                        </div>
                    </div>

                </div>
            </div> 
            <div class="col-lg-4 cardto b">
                <div class="info-card-aux">
                    <div class="info-card-container">
                        <h3>Escuela</h3> 
                        <p class="p-change switch"></p> 
                        <select id="school" class="i-change">
                        </select>
                    </div>
                    <div class="info-card-container" >
                        <h3>Bio:</h3> 
                        <p class="p-change switch"></p>
                        <textarea class="i-change" name="bio" id="bio" cols="40" rows="5"></textarea>
                    </div>
                    <div class="info-card-container">
                        <h3>Lema</h3> 
                        <p class="p-change switch"></p>
                        <input type="text" id="motto" class="i-change" value="">
                    </div>
                </div>
            </div> 
            <div class="col-lg-4 cardto cont">
                <div class="col-lg-12  c">
                    <div class="info-card-aux">
                        <div class="info-card-container">
                            <h3>Concurso</h3>
                            <p class="p-change switch"></p>
                            <select id="contest" class="i-change">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12  d">
                    <div class="info-card-aux">
                        <div class="info-card-container">
                            <h3>Benchmarks</h3>
                            <p>Esperalo muy pronto</p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="row">
            <div class="col-lg-4 cardto-2 e">
                <div class="info-card-aux">
                    <div class="info-card-container"> 
                        <h3 class="p-change switch"></h3>
                        <input type="text" id="achievement1" class="i-change" value="">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 cardto-2 f">
                <div class="info-card-aux">
                    <div class="info-card-container">
                        <h3 class="p-change switch" ></h3>
                        <input type="text" id="achievement2" class="i-change" value="">
                    </div>
                </div>            </div>
            <div class="col-lg-4 cardto-2 h">
                <div class="info-card-aux">
                    <div class="info-card-container">
                        <h3 class="p-change switch"></h3>
                        <input type="text" id="achievement3" class="i-change" value="">
                    </div>
                </div>            
            </div>
        </div>
    </div> 

    <button type="button" class="float">
    <i class="fa fa-plus my-float"></i>
    </button>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../JS/profileController.js" charset="utf-8" ></script>
</body>
</html>