<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Log in</title>
    <link rel="stylesheet" type="text/css" href="../CSS/andriuxStyles.css"><link>
    <link href="//cdn.muicss.com/mui-0.9.41/css/mui.min.css" rel="stylesheet" type="text/css" /> 
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans:400,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <style>
        #message-f{
        line-height: 14px;
        height:75px;
        margin: 0px;
        display: table-cell;
        vertical-align: middle;
        padding: 10px; 
        width: 50%;
        }
    </style>
    </head>
    <body> 
        <!-- <div class="disclaimer">
            <h3>Bienvenido a la plataforma de LIT!</h3>
            <p>Nos emociona mucho tenerte con nosotros, en este formulario podras acceder a tu perfil
             ,modificarlo y compartilo con tus amigos! 
            </p> 
            <p class="notas">
                nota: esta version es de acceso anticipado por .
            </p>
        </div> -->
        <div class="parent">
            <h2>Inicia Sesion en LIT</h2>
            <div class="container">
            <form name="data">
                <div class="group2">
                <input name="alias" id="alias"  type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <span id="confirmMessage-a" class="confirmMessage"></span>
                <label>Usuario</label>
                </div>
                <div class="group2">
                    <input name="pass" id="pass" type="password" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <span id="confirmMessage-p" class="confirmMessage"></span>
                    <label>Contraseña</label>
                </div> 
                <p id="message-f"></p>
            </form>
            </div>
            <button class="button b2" id="login" type="button">Entrar</button>
        </div> 

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="../JS/login.js" charset="utf-8" ></script>
    </body>
</html>
