<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Perfil LIT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS/reset.css" /> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS/stick.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../Testing/testeobarra.css" /> 
 
</head> 

<body class="perfil-body">
    <nav class="navbar sticky-top navbar-light justify-content-between">
        <a class="navbar-brand" href=""><img src="../IMG/logo.png" alt="" style="height:60px;"></a>
        <form class="form-inline" autocomplete="off">
            <!-- <div class="autocomplete" style="width:300px; margin-right: 15px;">
                <input id="myInput" type="text" name="myCountry" placeholder="buscar usuario">
            </div> 
            <button id="_search"class="btn btn-outline-success my-2 my-sm-0" type="button">Search</button>    -->   
        </form>
    </nav>
    <div class="container-fluid perfil-container">
        <div class="row">
            <div class="col-lg-4 cardto a">
                <div class="img-aux">
                    <img class="perfil-img"src="../IMG/idkmen.jpg" alt=""> 
                    <!-- <div class="team-wrap">
                        <img src="../IMG/kisspng-league-of-legends-team-we-electronic-sports-logo-v-5b66ae16d3ab93.034768711533455894867.png" alt="" class="team-img">
                    </div> -->
                    <div class="info-card-aux usr">
                        <div class="info-card-container">
                            <h3 id="_name">Rogelio Amaro</h3>
                        </div>
                    </div>

                </div>
            </div> 
            <div class="col-lg-4 cardto b">
                <div class="info-card-aux">
                    <div class="info-card-container">
                        <h3>Escuela</h3>
                        <p>Colegio Americano de Tabasco</p>
                    </div>
                    <div class="info-card-container" >
                        <h3>Bio:</h3>
                        <p id="_bio">
                            Me encanta los deportes, me considero una persona
                            autodidacta. Me gustan muchas la matematicas y 
                            las bellas artes. Estoy listo para ganar!
                        </p>
                    </div>
                    <div class="info-card-container">
                        <h3>Lema</h3>
                        <p id="_motto">
                            "The more you know, the less you ignore"
                        </p>
                    </div>
                </div>
            </div> 
            <div class="col-lg-4 cardto cont">
                <div class="col-lg-12  c">
                    <div class="info-card-aux">
                        <div class="info-card-container">
                            <h3>Concurso</h3>
                            <p id="_contest">Estare participando en La Cueva del León</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12  d">
                    <div class="info-card-aux">
                        <div class="info-card-container">
                            <h3>Benchmarks</h3>
                            <p>Esperalo muy pronto</p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="row">
            <div class="col-lg-4 cardto-2 e">
                <div class="info-card-aux">
                    <div class="info-card-container">
                        <h3 id="_achievement1">Primer lugar en Reto emprendedor 2017</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 cardto-2 f">
                <div class="info-card-aux">
                    <div class="info-card-container">
                        <h3 id="_achievement2">Primer lugar en Reto emprendedor 2017</h3>
                    </div>
                </div>            </div>
            <div class="col-lg-4 cardto-2 h">
                <div class="info-card-aux">
                    <div class="info-card-container">
                        <h3 id="_achievement3">Primer lugar en Reto emprendedor 2017</h3>
                    </div>
                </div>            
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../JS/showPerfil.js" charset="utf-8" ></script>
    <script type="text/javascript" src="../Testing/JS/barra.js" charset="utf-8" ></script>
</body>
</html>