<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="registration.css"><link>
  </head>
  <body>


    <div class="parent">
        <img src="logo.png" alt="Logo del Concurso">
      <h2>Sign Up<small>Por favor siga los pasos</small></h2>
      <div class="container">
        <form>
          <div class="group">
            <input type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Nombre</label>
          </div>

          <div class="group">
            <input type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Apellidos</label>
          </div>

          <div class="group">
            <input type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Email</label>
          </div>

          <div class="group2" id>
            <input type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Telefono</label>
          </div>


          <div class="group2">
            <input type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label> Genero</label>
          </div>

          <div class="group2">
            <input type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Fecha de Nacimiento</label>
          </div>



          <button class="button" onclick="Next()">Siguiente</button>
1
        </form>

      </div>
        <p class="footer">Al finalizar el proceso, haga click en el botón finalizar
        <button type="button" class="button">Finalizar</button>
      </p>

    </div>


    <script>
    function Next() {
        var x = document.getElementById("group");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }




    </script>


  </body>
</html>
