<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../CSS/andriuxStyles.css"><link>
    <link href="//cdn.muicss.com/mui-0.9.41/css/mui.min.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  </head>
  <body>
    <div class="parent">
        <img src="logo.png" alt="Logo del Concurso">
      <h2>Registro<small>Por favor siga los pasos</small></h2>
      <div class="container">
        <form>
            <div class="sides">
              <div class="group1" class="left">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Nombre</label>
              </div>
              <div class="group1" class="right">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Apellidos</label>
              </div>
            </div>
            <div class="group1" >
              <input type="email" required>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Email</label>
            </div>
            <div class="group1">
              <input type="text" required>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Tel&eacutefono</label>
            </div>
            <div class="group1">
              <input type="text" required>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>G&eacutenero</label>
            </div>

            <div class="group2" style="display: none">
              <input type="text" required>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Usuario</label>
            </div>
            <div class="sides">
              <div class="group2" class="left" style="display: none">
                <input type="password" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Contrase&ntildea</label>
              </div>
              <div class="group2" class="right" style="display: none">
                <input type="password" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Verificar Contrase&ntildea</label>
              </div>
            </div>
        </form>
        <button class="button b1" type="button" onclick="Next()">Siguiente</button>
      </div>
        <p class="footer">Al finalizar el proceso, haga click en el bot&oacuten finalizar</p>
        <button class="button b2" type="button">Finalizar</button>
    </div>
    <script type="text/javascript">
    function Next() {
      var x = document.querySelectorAll('.group1, .group2');
      var i;
      for (i = 0; i < x.length; i++) {
                if (x[i].style.display === "none") {
                    x[i].style.display = "block";
                } else {
                    x[i].style.display = "none";
                }
      }
    }
    </script>
  </body>
</html>
