<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="../CSS/andriuxStyles.css"><link>
    <link href="//cdn.muicss.com/mui-0.9.41/css/mui.min.css" rel="stylesheet" type="text/css" /> 
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans:400,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
  </head>
  <body>

      <div class="parent">
        <h2>Registro LIT</h2>
        <div class="container">
          <form name="data">
            <div class="sides">
              <div class="group1" class="left">
                <input name="nombre" id="nombre" class="border-r"   type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <span id="confirmMessage-n" class="confirmMessage"></span>
                <label>Nombre</label>
              </div>
              <div class="group1" class="right">
                <input name="apellidos" id="apellidos"    type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <span id="confirmMessage-ln" class="confirmMessage"></span>
                <label>Apellidos</label>
              </div>
            </div>
            <div class="group2">
              <input name="alias" id="alias"  type="text" required>
              <span class="highlight"></span>
              <span class="bar"></span>
              <span id="confirmMessage-a" class="confirmMessage"></span>
              <label>Usuario</label>
            </div>
            <div class="sides">
              <div class="group1">
                <input name="telefono"  id="telefono" class="border-r" type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <span id="confirmMessage-p" class="confirmMessage"></span> 
                <label>Tel&eacutefono</label>
              </div>
              <div class="group1" class="select" id="genero">
                <select class="select-text" required>
                  <option value="H">Hombre</option>
                  <option value="M">Mujer</option>
                </select>
                <span class="select-highlight"></span>
                <span class="select-bar"></span>
                <label class="select-label">Sexo</label>
              </div>
            </div>
            <div class="group2">
                <input name="correoE" id="correoE" type="text"  required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <span id="confirmMessage-e" class="confirmMessage"></span>
                <label>Email</label>
              </div>
            <div class="sides">
              <div class="group1" class="left">
                <input name="random1" type="password" class="border-r"  id="pass1" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Contrase&ntilde;a</label>
              </div>
              <div class="group1" class="right">
                <input name="random2"  type="password"  id="pass2"  required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <span id="confirmMessage" class="confirmMessage"></span>
                <label>Verificar Contrase&ntilde;a</label>
              </div>
            </div>
          </form>
        </div>
          <button class="button b2" onclick="registrar()" disabled="disabled" id="finalizar" type="button">Finalizar</button>
      </div> 

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../JS/registration.js" charset="utf-8" ></script>
  </body>
</html>
